#show-store {
    opacity: 0;
    visibility: hidden;
}

span {
    font-size: 12px;
}

:root {
    --background-color: rgba(255, 255, 255, 0.486);
    --box-shadow: 3px 3px 10px rgba(153, 153, 153, 0.2);
    --primary-color: #000;
    --border-radius: 16px;
    --border-radius-8: 8px;
    --font-size-10px: 10px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-large-18: 18px;
    --font-size-large-24: 24px;
    --font-size-large-36: 36px;
}

.texto-limitado {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Muestra solo 3 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.btn-regresar {
    color: #000;
    background-color: transparent;
    border: none;
    padding: 5px 5px;
    border-radius: var(--border-radius-8);
    cursor: pointer;
}

.btn-salir {
    background-color: transparent;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
    color: #000;
    border-radius: var(--border-radius-8);
}

.container-header-btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-regresar .fa-chevron-left {
    font-size: 18px;
}

.btn-salir .fa-xmark {
    font-size: 22px;
}

#show-store.show {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 300px;
    height: auto;
    opacity: 1;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in, visibility 0.5s ease-in;
    padding: 5px 10px 10px 10px;
    z-index: 10;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    background-color: var(--background-color);
    backdrop-filter: blur(5px);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.containerStoreDetails {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

#show-store.hide {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    visibility: hidden;
    width: 300px;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, visibility 0.5s ease-out;
    padding: 5px 10px 10px 10px;
    z-index: 10;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.header-store {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.container-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.header-store .logo {
    width: 60px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: var(--box-shadow);
}

.header-store .logo img {
    width: 50px;
    object-fit: cover;
}

.title-16 h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.btn-direccion {
    padding: 10px 10px;
    border-radius: 8px;
    border: solid 1px #0105e9;
    background-color: #0105e9;
    outline: none;
    border: none;
    color: white;
    font-size: 10px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
}

.btn-telefono {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #eeff00;
    border: solid 1px #000000;
    outline: none;
    border: none;
    font-size: 10px;
    font-weight: 500;
    color: black;
    width: 100%;
    cursor: pointer;
}

.btn-direccion:hover {
    background-color: white;
    color: black;
}

.btn-telefono:hover {
    background-color: white;
}

.container-categorias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.container-categorias h4 {
    font-size: 14px;
    font-weight: 500;
}

.container-categorias ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

.container-categorias li {
    font-size: 12px;
    padding: 3px 5px;
    background-color: #e2e2e2e0;
    min-width: 90px;
    border-radius: 8px;
    color: #000;
}

.descripcion-store {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

.descripcion-store p {
    font-size: 10px;
    text-align: left;
}

.descripcion-store button {
    border: none;
    background-color: transparent;
    font-size: 10px;
    color: red;
}

.container_step_by_step {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 10px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    width: 100%;
    max-height: auto;
    scrollbar-width: none !important;
}

.showSteps {
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
}

i#bajar {
    padding: 10px;
    cursor: pointer;
}

.containerPasos {
    width: 100%;
}

.containerFlexSteps {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    scrollbar-width: none !important;
}

.title-16 h3 {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.steps_time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps_time p,
.steps_time span {
    color: #000;
    letter-spacing: 0px;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 1.2em;
    text-align: left;
}

.container-step {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

.list_steps {
    width: 100%;
    cursor: pointer;
    background-color: #e5f1ff;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 5px 8px;
    border-radius: 8px;
}

.selected-step {
    background-color: #0105e9;
    color: white;
    font-size: 10px;
}

.list_steps:hover {
    background-color: #f0f0f0;
    color: black;
}

.list_steps i {
    font-size: 15px;
}

.list_steps div {
    padding: 4px;
    font-size: 10px;
    text-align: left;
}

.containerQr {
    width: 100%;
}

.containerQr h3 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.containerQr img {
    width: 100px;
}

.containerQr p {
    width: 90%;
    font-size: 10px;
    margin: 0 auto;
}

.operation-hours-container {
    width: 100%;
}

.operation-hours-list {
    margin-top: 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.expanded {
    max-height: 500px;
    transition: max-height 0.5s ease-in-out;
}

.container-button-hours {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.operation-hours-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.operation-hours-day-time,
.operation-hours-item {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
}

span.status.closed {
    color: #ff1212;
    font-size: 14px;
    font-weight: 500;
}

span.status.open {
    color: #00c230;
    font-size: 14px;
    font-weight: 500;
}

h4.operation-hours-title {
    font-size: 14px;
    font-weight: 500;
}

.operation-hours-button {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #676767;
    font-size: 14px;
    cursor: pointer;
}

.operation-hours-button .chevron {
    margin-top: 3px;
    font-size: 10px;
}

@media (width <=600px) and (width >=0px) {

    #show-store {
        max-width: 250px;
    }

    .btn-direccion,
    .btn-telefono {
        font-size: 10px;
    }

    .btn-telefono {
        gap: 5px;
    }

    .container-btn {
        gap: 5px;
    }

    .btn-regresar .fa-chevron-left {
        font-size: 18px;
    }

    .btn-salir .fa-xmark {
        font-size: 22px;
    }

    .container-categorias h4 {
        font-size: 12px;
    }

    .descripcion-store p {
        font-size: 10px;
        font-weight: 400;
        text-align: left;
    }

    span.status.closed {
        font-size: 12px;
    }
    
    span.status.open {
        font-size: 12px;
    }
    
    h4.operation-hours-title {
        font-size: 12px;
    }

    .container_step_by_step {
        width: 100%;
    }

    .list_steps {
        width: 250px;
    }

    .list_steps i {
        font-size: 18px;
    }

    .containerQr {
        display: none;
    }

    .containerQr img {
        display: none
    }

    .containerQr p {
        font-size: 10px;
    }

    .containerQr h3 {
        font-size: 16px;
        font-weight: 600;
        text-align: center;
    }

    .containerQr p {
        width: 100px;
        font-size: 10px;
        text-align: center;
        margin: 0 auto;
    }

    .container-categorias ul li {
        font-size: 10px;
    }

}