.menu_btn_levels {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: none;
    border-radius: 150px;
    padding: 0px;
    outline: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    z-index: 4;
    position: relative;
    margin: 10px;
}

.map_selector_container {
    max-width: 60px;
    position: absolute;
    z-index: 3;
    left: 0px;
    top: 50%;
    background-color: transparent;
    border: none;
    outline: none;
}

.menu_btn_levels i {
    font-size: 24px;
    margin: 0px !important;
    color: rgb(0, 0, 0);
}

.i.fa-solid {
    margin: 0px !important;
}

.map_selector {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #ffffff;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 80px;
    top: 20px;
    opacity: 0;
    max-height: auto;
    overflow: hidden;
    transition: all 0.3s ease;
}

.show {
    opacity: 1;
    max-height: auto;
    overflow: visible;
}

.transition_slide {
    transform: translateX(-40px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.transition_slide.show {
    transform: translateX(0);
    opacity: 1;
}

@media (max-width: 600px) {
    .map_selector_container {
        width: auto;
        max-width: 40px;
        height: auto;
        top: 50%;
    }

    .menu_btn_levels {
        width: 40px;
        height: 40px;
        padding: 0px;
    }

    .menu_btn_levels i {
        font-size: 18px;
    }
}
