.menu_btn_levels {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #fff;
    margin: 10px;
    border: none;
    border-radius: 150px;
    padding: 15px;
    outline: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    z-index: 3;
    position: relative;
}

.menu_btn_levels i {
    font-size: 24px;
    margin: 0px !important;
    color: rgb(0, 0, 0);
}

.i.fa-solid {
    margin: 0px !important;
}

.map_selector_container {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 50%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

.map_selector {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #ffffff;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 25px;
    left: 95px;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.show {
    opacity: 1;
    max-height: 200px;
    overflow: visible;
}

.transition-slide {
    transform: translateX(-40px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.transition-slide.show {
    transform: translateX(0);
    opacity: 1;
}