@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
a, h1, h2, h3, h4, p, span, ul, li, button {
  font-family: "Montserrat", sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.container-principal {
  width: 100vw;
  height: 100%;
  z-index: 1;
}

.goBack {
  color: #000;
}
