.language-selector {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 58%;
    z-index: 3;
    margin-top: 10px;
}

.menu-btn-languages {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border: none;
    border-radius: 150px;
    padding: 0px;
    outline: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    z-index: 3;
}

.menu-btn-languages i {
    font-size: 24px;
    margin: 0px !important;
    color: rgb(0, 0, 0);
}

.i.fa-solid {
    margin: 0px !important;
}


.language-dropdown {
    position: absolute;
    top: 0;
    right: 70px;
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    outline: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
}

.language-dropdown li {
    padding: 10px;
    cursor: pointer;
}

.language-dropdown li:hover {
    background-color: #f0f0f0;
}

.language-dropdown li.active {
    font-weight: bold;
}

@media (width <=600px) and (width >=0px) {
    .language-selector {
        width: auto;
        height: 40px;
        right: 10px;
        top: 55%;
        z-index: 3;
        margin-top: 25px;
    }

    .menu-btn-languages {
        width: 40px;
        height: 40px;
    }

    .language-selector i {
        font-size: 20px;
    }

    .language-dropdown {
        right: 50px;
    }
}